.todo-item-wrapper {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.updating{
    opacity: .4;
}
button {
    background: transparent;
    border: none;
    cursor: pointer;
}