<div class="container">
    <div class="list-container">
        <h1>Tom's Todo List</h1>
        <div class="filter-container">
            <input type="search" placeholder="Filter todos" [(ngModel)]="filterString" (ngModelChange)="filterStringChange.next()">
        </div>
        <div class="new-todo">
            <input
                class="new-todo-input"
                type="text"
                placeholder="Things to do..."
                (keydown.enter)="createTodo(newTodo)"
                [(ngModel)]="newTodo">
            <button (click)="createTodo(newTodo)">➕</button>
        </div>
        <todo-item
            *ngFor="let todo of fitleredTodos; trackBy: trackByFn"
            [todo]="todo"
            (update)="updateTodo($event)"
            (remove)="deleteTodo($event)">
        </todo-item>
    </div>
</div>
